name: test

on:
  push:
    branches: [develop]
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [develop]

jobs:
  test:
    name: Test package
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.5', '3.x']

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Display Python version
        run: |
          python -c "import sys; print(sys.version)"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install cython>=0.28
          pip install -r requirements.txt
      
      - name: Set up Test
        run: |
          TEST_RESOURCES_DIR="tests/resources/"
          for DIC_TYPE in {system,user,user2}; do
            IN="${TEST_RESOURCES_DIR}${DIC_TYPE}.csv"
            OUT="${TEST_RESOURCES_DIR}${DIC_TYPE}.dic"
            DES="the ${DIC_TYPE} dictionary for the unit tests"
            python -c "import sys; from chikkarpy.command_line import build_dictionary; build_dictionary(sys.argv[1], sys.argv[2], sys.argv[3]);" "${IN}" "${OUT}" "${DES}"
          done
        shell: bash

      - name: Run Test
        run: |
          python -m unittest discover tests
